.admin-form {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 600px;

        &__inputs {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            div {
                display: flex;
                flex-direction: column;
                gap: 20px;
                input {
                    width: 250px;
                    height: 30px;
                    outline: none;
                    border: 1px solid #838383;
                    border-radius: 5px;
                    padding: 0px 10px;
                }
            }
        }

        input {
            height: 150px;
            border: 1px solid #838383;
            border-radius: 5px;
        }

        button {
            width: 100px;
            height: 30px;
            background-color: #253D4E;
            border: 1px solid transparent;
            border-radius: 5px;
            color: white;
        }
    }
    &__img img {
        width: 100%;
    }
}


@media (max-width: 1220px) {
    .admin-form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}

@media (max-width: 750px) {
    .admin-form__form {
        width: 400px;
        &__inputs div {
            input {
                width: 150px;
            }
        }
        textarea {
            width: 400px;
        }
    }
}

@media (max-width: 540px) {
    .admin-form__form {
        width: 200px;
        &__inputs {
            flex-direction: column;
            div {
                input {
                    width: 200px;
                }
            }
        }
    }
}