.delivery {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px;
    background-position: center;
    background-size: contain;
    border: 1px solid transparent;
    border-radius: 30px;
    &__desc {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1 {
            font-size: 36px;
        }
        p {
            font-size: 14px;
            color: #7e7e7e;
        }
    }

    form {
        position: relative;
        input {
            border: 1px solid transparent;
            border-radius: 30px;
            outline: none;
            height: 54px;
            width: 300px;
            padding-left: 20px;

        }
        button {
            border: 1px solid transparent;
            border-radius: 30px;
            width: 120px;
            position: absolute;
            top: 0;
            left: 250px;
            height: 54px;
            background-color: #3BB77E;
            color: #fff;
        }

    }
}

@media (max-width: 640px) {
    .delivery {
        h1 {
            font-size: 28px;
        }
        padding: 40px;
    }
}

@media (max-width: 510px) {
    .delivery {
        h1 {
            font-size: 24px;
        }
        padding: 20px;
        form {
            input {
                width: 200px;
            }
            button {
                left: 150px;
            }
        }
    }
}

@media (max-width: 360px) {
    .delivery {
        padding: 10px;
        gap: 15px;
        h1 {
            font-size: 20px;
        }

        &__desc {
            gap: 10px;
        }

        form {
            input {
                height: 30px;
                width: 150px;
                padding-left: 10px;
            }
            button {
                width: 100px;
                height: 30px;
                left: 130px;
            }
        }
    }
}