.delivery-bottom {
    padding-top: 50px;
    justify-content: space-between;
    // flex-wrap: wrap;
    gap: 30px;
    overflow: auto;
    &__card {
        gap: 20px;
        background: #F4F6FA;
        padding: 15px; 
        width: 280px;
        height: 110px;
    }

    &__card-desc {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
            font-size: 14px;
            color: #ADADAD;
        }
    }
}

@media (max-width: 1430px) {
    .delivery-bottom {
        justify-content: center;
        flex-wrap: wrap;
    }
}