.featured {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__top {
        gap: 30px;  
        h1 {
            font-size: 26px;
        }
        p {
            font-size: 14px;
            transition: .3s;

        }
        p:hover {
            color: #3BB77E;
            transition: .3s;
        }
    }

    &__middle {
        gap: 30px;
        overflow: auto;
        scrollbar-width: none;
        &__card {
            width: 140px;
            height: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;
            border: 1px solid transparent;
            border-radius: 5px;
        }
    }

    &__bottom {
        gap: 50px;
        flex-wrap: wrap;
        justify-content: space-between;

        &__card {
            width: 400px;
            height: 300px;
            padding: 100px 50px;
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            button {
                height: 30px;
                width: 120px;
                background-color: #3BB77E;
                border: 1px solid transparent;
                border-radius: 5px;
                color: #fff;
            }
        }
    }
}

.onion {
    background: url("../../assets/featured/onion-bg.png") center/cover no-repeat;
}

.water {
    background: url("../../assets/featured/water-bg.png") center/cover no-repeat;
}

.vegetables {
    background: url("../../assets/featured/vegatables-bg.png") center/cover no-repeat;
}

@media (max-width: 1530px) {
    .featured__bottom {
        justify-content: center;
    }
}

@media (max-width: 550px) {
    .featured__top {
        gap: 10px;
        p {
            display: none;
        }
    }
}